/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1000s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.wrapper, .charts-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:90vh;
}

.charts-wrapper{
  justify-content: space-between;
  height:auto;
  border-radius: 0.5rem;
  box-shadow:var(--shadow);
  padding:2rem;
  margin:2rem;
}